*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: black;
    display:flex;
    justify-content:center;
    align-items: center;
}

.container{
    display:grid;
    grid-template-columns: repeat(19, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-gap:5px;
    grid-template-areas: 
"a1 a2 a3 a4 a5 a6 a7 a8 a9 a10 a11 a12 a13 a14 a15 a16 a17 a18 a19"
"b1 b2  .  .  .  .  .  .  .   .  .    .   .   .  .   .  .     .  b19"
"c1 c2 c3  .  .  .  .  .   .   .  .    .  . c14 c15 c16 c17 c18 c19"
"d1 d2 d3  .  .  .  .  .   .   .  .    .  d13 d14 d15 d16 d17 d18 d19"
"e1 e2 e3 e4 e5 e6 e7 e8 e9 e10 e11 e12 e13 e14 e15 e16 e17  e18  e19"
"f1 f2 f3 f4 f5 f6 f7 f8 f9 f10 f11 f12 f13 f14 f15 f16 f17 f18 f19"
"g1 g2 g3 g4 g5 g6 g7 g8 g9 g10 g11 g12 g13 g14 g15 g16 g17 g18 g19"
"h1 h2 h3 h4 h5 h6 h7 h8 h9 h10 h11 h12 h13 h14 h15 h16 h17 h18 h19"
 ;
 height: 80vh;
width: 80%;
}

.default{
color:#ffffff;
display:flex;
justify-content:center;
align-items:center;
position: relative;

}
.default > p{
    position : absolute;
    left: 5px;
    top: 0;
    margin: 0;
    padding: 0;

}


.group{
    grid-area: a1;
color: #ffffff;
}

.num1{
    grid-area: a2;
}

.num2{
    grid-area: a3;
}
.num3{
    grid-area: a4;
}
.num4{
    grid-area: a5;
}
.num5{
    grid-area: a6;
}
.num6{
    grid-area: a7;
}
.num7{
    grid-area: a8;
}
.num8{
    grid-area: a9;
}
.num9{
    grid-area: a10;
}
.num10{
    grid-area: a11;
}
.num11{
    grid-area: a12;
}
.num12{
    grid-area: a13;
}
.num13{
    grid-area: a14;
}
.num14{
    grid-area: a15;
}
.num15{
    grid-area: a16;
}
.num16{
    grid-area: a17;
}
.num17{
    grid-area: a18;
}
.num18{
    grid-area: a19;
}


.row-num1{
    grid-area:b1;
}


.r1-one{
    background-color:#0b2200;
  grid-area: b2;

}
.r1-two{
    background-color:#51aa0a;
    grid-area: b19;
}

.row-num2{
    grid-area:c1;
    
}

.r2-one{
    grid-area:c2;
    background-color:#671f44
}
.r2-two{
    grid-area:c3;
    background-color:#034488
}
.r2-three{
    grid-area:c14;
    background-color:#884517
}
.r2-four{
    grid-area:c15;
    background-color:#0b2200
}
.r2-five{
    grid-area:c16;
    background-color:#0b2200
}
.r2-six{
    grid-area:c17;
    background-color:#0b2200
}
.r2-seven{
    grid-area:c18;
    background-color:#226688
}
.r2-eight{
    grid-area:c19;
    background-color:#51aa0a;
}



.row-num3{
    grid-area:d1;
}

.r3-one{
    grid-area:d2;
    background-color:#671f44;
}
.r3-two{
    grid-area:d3;
    background-color:#034488;
}
.r3-three{
    grid-area:d14;
    background-color:#de4faa;
}
.r3-four{
    grid-area:d15;
    background-color:#884517;
}
.r3-five{
    grid-area:d16;
    background-color:#0b2200;
}
.r3-six{
    grid-area:d17;
    background-color:#0b2200;
}
.r3-seven{
    grid-area:d18;
    background-color:#226688;
}
.r3-eight{
    grid-area:d19;
    background-color:#51aa0a;
}


.row-num4{
    grid-area:e1;
}
.r4-one{
    grid-area:e2;
    background-color:#671f44;
}
.r4-two{
    grid-area:e3;
    background-color:#034488;
}
.r4-three{
    grid-area:e4;
    background-color:#892517;
}
.r4-four{
    grid-area:e5;
    background-color:#892517;
}
.r4-five{
    grid-area:e6;
    background-color:#892517;
}
.r4-six{
    grid-area:e7;
    background-color:#892517;
}
.r4-seven{
    grid-area:e8;
    background-color:#892517;
}
.r4-eight{
    grid-area:e9;
    background-color:#892517;
}
.r4-nine{
    grid-area:e10;
    background-color:#892517;
}
.r4-ten{
    grid-area:e11;
    background-color:#892517;
}
.r4-eleven{
    grid-area:e12;
    background-color:#892517;
}
.r4-twelve{
    grid-area:e13;
    background-color:#892517;
}
.r4-thirteen{
    grid-area:e14;
    background-color:#de4faa;
}
.r4-fourteen{
    grid-area:e15;
    background-color:#884517;
}
.r4-fifteen{
    grid-area:e16;
    background-color:#884517;
}
.r4-sixteen{
    grid-area:e17;
    background-color:#0b2200;
}
.r4-seventeen{
    grid-area:e18;
    background-color:#226688;
}
.r4-eighteen{
    grid-area:e19; 
    background-color:#226688;
}

.row-num5{
    grid-area:f1;
}
.r4-1{
    grid-area:f2; 
    background-color:#671f44;
}
.r4-2{
    grid-area:f3; 
    background-color:#034488;
}
.r4-3{
    grid-area:f4; 
  background-color:#892517;
}
.r4-4{
    grid-area:f5; 
  background-color:#892517;
}
.r4-5{
    grid-area:f6; 
  background-color:#892517;
}
.r4-6{
    grid-area:f7; 
  background-color:#892517;
}
.r4-7{
    grid-area:f8; 
  background-color:#892517;
}
.r4-8{
    grid-area:f9; 
  background-color:#892517;
}
.r4-9{
    grid-area:f10; 
  background-color:#892517;
}
.r4-10{
    grid-area:f11; 
  background-color:#892517;
}
.r4-11{
    grid-area:f12; 
  background-color:#892517;
}
.r4-12{
    grid-area:f13; 
  background-color:#892517;
}
.r4-13{
    grid-area:f14; 
    background-color:#de4faa;
}
.r4-14{
    grid-area:f15; 
    background-color:#de4faa;
}
.r4-15{
    grid-area:f16; 
    background-color:#884517;
}
.r4-16{
    grid-area:f17; 
    background-color:#884517;
}
.r4-17{
    grid-area:f18; 
    background-color:#226688;
}
.r4-18{
    grid-area:f19; 
    background-color:#51aa0a;
}


.row-num6{
    grid-area:g1;
}
.r5-1{
    grid-area:g2; 
    background-color:#671f44; 
}
.r5-2{
    grid-area:g3; 
    background-color:#034488; 
}
.r5-3{
    grid-area:g4; 
    color:white;
 
}
.r5-4{
    grid-area:g5; 
    background-color:#892517; 
}
.r5-5{
    grid-area:g6; 
    background-color:#892517; 
}
.r5-6{
    grid-area:g7; 
    background-color:#892517; 
}
.r5-7{
    grid-area:g8; 
    background-color:#892517; 
}
.r5-8{
    grid-area:g9; 
    background-color:#892517; 
}
.r5-9{
    grid-area:g10; 
    background-color:#892517; 
}
.r5-10{
    grid-area:g11; 
    background-color:#892517; 
}
.r5-11{
    grid-area:g12; 
    background-color:#892517; 
}
.r5-12{
    grid-area:g13; 
    background-color:#892517; 
}
.r5-13{
    grid-area:g14; 
    background-color:#de4faa; 
}
.r5-14{
    grid-area:g15; 
    background-color:#de4faa; 
}
.r5-15{
    grid-area:g16; 
    background-color:#de4faa; 
}
.r5-16{
    grid-area:g17; 
    background-color:#884517; 
}
.r5-17{
    grid-area:g18; 
    background-color:#226688; 
}
.r5-18{
    grid-area:g19; 
    background-color:#51aa0a; 
}



.row-num7{
    grid-area:h1;
}
.r6-1{
    grid-area:h2; 
    background-color:#671f44; 
}
.r6-2{
    grid-area:h3; 
    background-color:#034488; 
}
.r6-3{
    grid-area:h4; 
    color:white;
}
.r6-4{
    grid-area:h5; 
    background-color:#892517; 
}
.r6-5{
    grid-area:h6; 
    background-color:#892517; 
}
.r6-6{
    grid-area:h7; 
    background-color:#892517; 
}
.r6-7{
    grid-area:h8; 
    background-color:#892517; 
}
.r6-8{
    grid-area:h9; 
    background-color:#892517; 
}
.r6-9{
    grid-area:h10; 
    background-color:#892517; 
}
.r6-10{
    grid-area:h11; 
    background-color:#892517; 
}
.r6-11{
    grid-area:h12; 
    background-color:#892517; 
}
.r6-12{
    grid-area:h13; 
    background-color:#892517; 
}
.r6-13{
    grid-area:h14; 
    background-color:#de4faa; 
}
.r6-14{
    grid-area:h15; 
    background-color:#de4faa; 
}
.r6-15{
    grid-area:h16; 
    background-color:#de4faa; 
}
.r6-16{
    grid-area:h17; 
    background-color:#de4faa; 
}
.r6-17{
    grid-area:h18; 
    background-color:#226688; 
}
.r6-18{
    grid-area:h19; 
    background-color:#51aa0a; 
}
